In [1]:
import pandas as pd
import numpy as np
import time
import datetime

In [79]:
df = pd.read_excel(r'C:\Users\q\Desktop\123.xlsx')

In [80]:
df.head()

       信托计划       还款日期   还款总额
0  天启（2016） 2017-10-02  56100
1  天启（2016） 2017-10-03  38000
2  天启（2016） 2017-10-04  29800
3  天启（2016） 2017-10-05  11900
4  天启（2016） 2017-10-06  67250

In [81]:
df.columns=['xtjh','returndate','loanmoney']

In [82]:
df = df.set_index('returndate')
df.head()

                xtjh  loanmoney
returndate
2017-10-02  天启（2016）      56100
2017-10-03  天启（2016）      38000
2017-10-04  天启（2016）      29800
2017-10-05  天启（2016）      11900
2017-10-06  天启（2016）      67250

In [87]:
df_new = pd.pivot_table(df,index=df.index,columns='xtjh',fill_value=0)
df_new.head()

           loanmoney
xtjh        天启（2016） 天启（2017） 天百金安1号 天百金通1期 天百金通2期 天顺
returndate
2017-10-02     56100        0      0      0  18800  0
2017-10-03     38000        0      0      0      0  0
2017-10-04     29800        0      0      0  19765  0
2017-10-05     11900        0      0  49140   4690  0
2017-10-06     67250        0      0  11200      0  0

In [93]:
series = df_new.resample('W-MON').sum()
series

            loanmoney
xtjh         天启（2016）  天启（2017）    天百金安1号    天百金通1期    天百金通2期        天顺
returndate
2017-10-02      56100         0         0         0     18800         0
2017-10-09     380550         0         0     79380     78645         0
2017-10-16    5921050     11050         0     60320     44550         0
2017-10-23   30827210    156305         0    832165   2553519         0
2017-10-30   14155722    790050    562415   3552800  19917105    197900
2017-11-06   34679740    376605         0    958390  11800726    130450
2017-11-13  125997640   3414440     28600   5551755  45619157      6400
2017-11-20  126833258    565710         0   7966433    828612     12600
2017-11-27  135822067    687275  22160190   2410685    897766    161300
2017-12-04  201315655   2684760         0  13070950   1374900    131050
2017-12-11  125666635   3281480         0   1176750   6800466     42400
2017-12-18  144780748    504150     28600   1579658    608927     12600
2017-12-25  128004290    567710    400190   3384255    765029     67700
2018-01-01  100879087   4419875     10000   2325900   1004017    169800
2018-01-08   35991430   5390500         0    648640   4311797     97250
2018-01-15  112855273    212300     28600   1539795   2527810     12600
2018-01-22   92616600    618175         0   1411268   1332706         0
2018-01-29   25325472    716700    410190   1013410   1117195    197900
2018-02-05    4388210   2038900         0   3554990   1139867    102450
2018-02-12   20289320   5389240         0  12518641   1677037     34400
2018-02-19   27490748   4489650     28600  51301847    798092     12600
2018-02-26   12003917    725335    410190  60320635   1511709   9600000
2018-03-05    2081390    542150         0  38826760   8429850  24755600
2018-03-12   25253020   4698290         0  27488451   1677037   4006400
2018-03-19   18116658  26988160     28600  37353477    431875   1400000