In [33]:
import pandas as pd
import numpy as np
import time
import datetime

In [139]:
df = pd.read_excel(r'C:\Users\q\Desktop\123.xlsx')

In [141]:
df.head()

       信托计划       还款日期   还款总额
0  天启（2016） 2017-10-02  56100
1  天启（2016） 2017-10-03  38000
2  天启（2016） 2017-10-04  29800
3  天启（2016） 2017-10-05  11900
4  天启（2016） 2017-10-06  67250

In [143]:
df.set_axis=['xtjh','returndate','loanmoney']

In [144]:
df.head()

       xtjh returndate  loanmoney
0  天启（2016） 2017-10-02      56100
1  天启（2016） 2017-10-03      38000
2  天启（2016） 2017-10-04      29800
3  天启（2016） 2017-10-05      11900
4  天启（2016） 2017-10-06      67250

In [149]:
df['newdate'] = pd.to_datetime(df.returndate,format='%Y')

In [151]:
df.head()

       xtjh returndate  loanmoney    newdate
0  天启（2016） 2017-10-02      56100 2017-10-02
1  天启（2016） 2017-10-03      38000 2017-10-03
2  天启（2016） 2017-10-04      29800 2017-10-04
3  天启（2016） 2017-10-05      11900 2017-10-05
4  天启（2016） 2017-10-06      67250 2017-10-06

In [174]:
df.newdate.astype(str)

0      2017-10-02
1      2017-10-03
2      2017-10-04
3      2017-10-05
4      2017-10-06
5      2017-10-07
6      2017-10-08
7      2017-10-09
8      2017-10-10
9      2017-10-11
10     2017-10-12
11     2017-10-13
12     2017-10-14
13     2017-10-15
14     2017-10-16
15     2017-10-17
16     2017-10-18
17     2017-10-19
18     2017-10-20
19     2017-10-21
20     2017-10-22
21     2017-10-23
22     2017-10-24
23     2017-10-25
24     2017-10-26
25     2017-10-27
26     2017-10-28
27     2017-10-29
28     2017-10-30
29     2017-10-31
          ...
659    2018-03-08
660    2018-03-09
661    2018-03-10
662    2018-03-11
663    2018-03-12
664    2018-03-13
665    2018-03-14
666    2018-03-15
667    2018-03-16
668    2018-03-17
669    2017-10-24
670    2017-10-25
671    2017-10-26
672    2017-11-13
673    2017-11-24
674    2017-11-25
675    2017-11-26
676    2017-12-13
677    2017-12-24
678    2017-12-25
679    2017-12-26
680    2018-01-13
681    2018-01-24
682    2018-01-25
683    2018-01-26
684    2018-02-13
685    2018-02-24
686    2018-02-25
687    2018-02-26
688    2018-03-13
Name: newdate, dtype: object

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 4 columns):
xtjh          689 non-null object
returndate    689 non-null datetime64[ns]
loanmoney     689 non-null int64
newdate       689 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 21.6+ KB

In [ ]:
for key,date in df.newdate.iteritems():
    print(time.strftime(date,'%W'))